* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(223, 208, 145);
  min-height: 100vh;
  padding: 0 1rem 1rem 1rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 1rem 0;
}

.header-container {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  flex-grow: 1;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-item {
  padding: 0 8px;
  font-size: clamp(20px, 2vw, 3vw);
  border: solid 3px rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgb(184, 84, 66);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-item:hover {
  box-shadow: 0px 0px 10px 5px rgba(255, 3, 3, 0.6);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  font-size: clamp(30px, 2.5vw, 3vw);
  margin: 1rem 0;
  color: rgb(134, 20, 0);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.38);
}

.subtitle {
  font-size: clamp(18px, 1.2vw, 1.4vw);
}

.logo {
  width: 300px;
}

.large-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(139, 105, 56);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 8px;
  width: clamp(300px, 30vw, 35vw);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.large-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: clamp(14px, 0.8vw, 1vw);
  margin: 6px 0;
}

.food-grid {
  display: grid;
  justify-content: center;
  width: 80vw;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1.3rem;
}

.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(182, 133, 59);
  width: 300px;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.food-image {
  width: clamp(200px, 12vw, 15vw);
  height: clamp(150px, 9vw, 12vw);
  padding: 8px 0;
}

.food-description {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: clamp(12px, 0.7vw, 0.8vw);
  margin: 6px 0;
}

.food-price {
  font-size: clamp(14px, 1vw, 1.2vw);
  font-weight: 800;
}
